.fundo_carrinho {
  background: linear-gradient(288deg, #1b7c72 -1.65%, #000 39.81%);
  stroke-width: 1px;
  stroke: var(--black);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 50rem;
  flex-shrink: 0;
  margin: 0 auto;
}

.Lat_img {
  align-items: center;
  justify-content: center;
  display: flex;
}
.Lat_img ul {
  
  color:  var(--white);
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.Lat_img ul li {
  margin: 10px;
  margin-top: auto;
  
}

.titulo {
  display: flex;
  justify-content: flex-start;
  color: var(--one-color);
  margin-left: 30px;
  font-family: var(--font-family);
  font-size: 4rem;
    font-weight: 500;
}


.menu_compra {
  background-color: var(--white);
  stroke-width: 1px;
  stroke: var(--black);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-shrink: 0;
  width: 50%;
  height: 240px;
  margin: 0 auto;
}

.compra_resumo {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  
}

hr{
  border-bottom: 2px solid var(--black);
}

.Final {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.botao_finalizar {
  border-radius: 30px;
  background-color: var(--one-color);
  width: 100px;
  height: 25px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--black);
  font-weight: bold;
  font-size: 15px;
  padding: 0.5px 1.5rem;
  
}


.button-without-background {
  background-color: transparent;
  border: none;
  
  
}
button:hover{
  cursor: pointer;
}

.Boton_inicial{
  border-radius: 30px;
  background-color: var(--one-color);
  width: auto;
  height: 25px;
  display: flex;
  text-align: center;
  color: var(--black);
  font-weight: bold;
  font-size: 15px;
  padding: 15px 10px;
  align-items: center;

}
